@font-face {
    font-family: calcFont;
    src: url('../Calculator.ttf');
  }

.Wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: stretch;
}

.CalcContainer{
    width: 70%;
    height: 100%;
    background-Color: blue;
    margin: 0px;
}
.displayContainer{
    width: 100%;
    height: 15%;
    background-Color: #9faa83;
    font-family: calcFont;
    font-size: 5vw;
    text-align: right;
}
.displayContainer h2{
    margin: 0px;
}
.displayMain{
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    text-align: right;
    height: 100%; 
    font-Size: 7vw;
    margin: 0px; 
    padding-Right: 3%;
    font-Weight: lighter;
    justify-Content: center;
}
.keyboardContainer{
    width: 100%;
    height: 85%;
    display: inline-block;
    margin: 0px;
    padding: 0px;

}

.hisContainer{
    background-color: #3e424B;
    width: 30%;
    height: 100%;
    font-family: calcFont;
    font-size: 3vw;
    color: white;
}